<div class="row clearfix">
    <!-- Top rated widget-->
    <div class="widget-section blue-bg col-md-12 pt-4">
      <section>
        <div class="section-header">
          <h2 class="sec-heading widgetheading float-left">
            Top Rated Topics
          </h2>
          <small class="float-right">
            <a href="#">View all</a>
          </small>
        </div>
        <div class="topic-list">
          <ul class="list-unstyled">
            <li *ngFor="let top of topTopics">
              <div class="media mb-4">
                <img class="mr-3 rounded-circle" style="width: 43px;height:50px;"src="{{top.imageUrl}}"
                  alt="Generic placeholder image" />
                <div class="media-body mt-2">
                  <h6 class="mt-0 topic-title">
                    {{top.topicName}}
                  </h6>
                </div>
              </div>
            </li>
             <!-- <li>
              <div class="media mb-4">
                <img class="mr-3 rounded-circle" src="../../assets/images/image-side2.png"
                  alt="Generic placeholder image" />
                <div class="media-body mt-2">
                  <h6 class="mt-0 topic-title">
                    <a href="#">Conflict in your aptitude &
                      qualification?</a>
                  </h6>
                </div>
              </div>
            </li>  -->
            <!-- <li>
              <div class="media mb-4">
                <img class="mr-3 rounded-circle" src="../../assets/images/image-side3.png"
                  alt="Generic placeholder image" />
                <div class="media-body mt-2">
                  <h6 class="mt-0 topic-title">
                    <a href="#">Storiyoh | Core Purpose</a>
                  </h6>
                </div>
              </div>
            </li>
            <li>
              <div class="media mb-4">
                <img class="mr-3 rounded-circle" src="../../assets/images/image-side4.png"
                  alt="Generic placeholder image" />
                <div class="media-body mt-2">
                  <h6 class="mt-0 topic-title">
                    <a href="#">Little Storiyohs</a>
                  </h6>
                </div>
              </div>
            </li>
            <li>
              <div class="media mb-4">
                <img class="mr-3 rounded-circle" src="../../assets/images/image-side2.png"
                  alt="Generic placeholder image" />
                <div class="media-body mt-2">
                  <h6 class="mt-0 topic-title">
                    <a href="#">Thoughts on IoT</a>
                  </h6>
                </div>
              </div>
            </li>
            <li>
              <div class="media mb-4">
                <img class="mr-3 rounded-circle" src="../../assets/images/image-side2.png"
                  alt="Generic placeholder image" />
                <div class="media-body mt-2">
                  <h6 class="mt-0 topic-title">
                    <a href="#">Fundamentals of c progra- mming-test</a>
                  </h6>
                </div>
              </div>
            </li> --> 
          </ul>
        </div>
      </section>
    </div>
    <!--//-->
    <!---->
    <div class="widget-section mb-1 mt-2">
      <figure class="figure new">
        <img src="../../assets/images/invite-figimage.png" class="figure-img-new img-fluid" id="img100" />
        <figcaption class="figure-caption-new p-3 t-0">
          <h3 class="caption-heading2 font-white">
            Invite Your<br />
            <b>Friends</b>
          </h3>
          <a href="#" data-toggle="modal" data-target="#myModalsidebar" title="Invite Friend"
            class="btn invite-btn mt-2">CLICK HERE</a>
        </figcaption>
      </figure>
    </div>
    <!--//-->

    <!---->
    <div class="widget-section mt-1">
      <div class="mobi-app mx-auto">
        <figure class="figure new">
          <img src="../../assets/images/download-link.png" class="figure-img-new img-fluid" />
          <figcaption class="figure-caption p-3">
            <h2 class="caption-heading">Download the app from</h2>
            <ul class="list-unstyled mt-4">
              <li>
                <a href="#" title="google-play"><img src="../../assets/images/google-play.png" class="img-fluid" /></a>
              </li>
              <li>
                <a href="#" title="apple-store"><img src="../../assets/images/apple-store.png" class="img-fluid" /></a>
              </li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </div>
    <!--//-->
  </div>
