
<section id="leave-comments">
    <div class="section-header">
          <h2 class="sec-heading  sec-heading-color float-left">Leave your comments</h2>
    </div>
    <div class="media-contant">
      <div class="media border-0 p-2">
           <img src="../../assets/images/author1.jpg" alt="John Doe" class="mr-3  mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
               <div class="form-group pt-2">
                   <textarea placeholder="Write a response..." name="msg" id="msg"  cols="40" rows="5" class="form-control shadow">
                   </textarea>
                   <div class="pt-3">
                         <a href="#" class="btn btn-round prm-btn font-12 mr-2">POST COMMENT</a>
                   </div>
                
              </div>
              <div class="pt-4 pb-2 sec-heading-color">
                 <h5><b>Recent Comments</b></h5>
              </div>
              <!---->
              
                <!--//-->
                <!---->
          
                <!--//-->
                <!---->
              <div class="media border-0 p-2">
                  <img src="../../assets/images/auther1.jpg" alt="John Doe" class="mr-3  mt-3 rounded-circle" style="width:60px;">
                  <div class="media-body pt-3">
                    <h6 class="comment-hed-color pt-2"><b>Gabriel Lamberts</b><small class="gray-color-text"><img src="../../assets/images/clock.png" alt="John Doe" class="pl-2 pr-2">2 day ago</small></h6>
                    <p class="media-p-color">Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    <div class="post-comment">
                    <ul class="list-unstyled d-flex comments-use">
                      <li class="pr-4 border-right"> <a href="#" class="comment"><img src="../../assets/images/icon-like.png" ></a> <span>1K</span></li>
                       <li class="ml-4"> <a href="#" class="comment"><img src="../../assets/images/icon-dislike.png"></a> <span>15K</span> </li>
                      </ul>
                    </div>
                    <hr>
                  </div>
                </div>
                <!--//-->
          </div>
      </div>
    </div>
</section>
