<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background: #ffffff">
    <div class="container-fluid">
      <a id="sidebarCollapse">
        <img src="../../assets/images/collapse-btn.png" alt="" class="mr-4" />
      </a>
      <a href="/"> <img src="../../assets/images/logo.png" alt="" /> </a>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto search-form">
          <input class="form-control mr-sm-2 ml-auto" type="search" placeholder="Search" aria-label="Search..." />
          <button class="search-btn my-2 my-sm-0" type="submit">
            <img src="../../assets/images/search-btn.png" alt="" />
          </button>
        </form>
        <ul class="nav navbar-nav ml-auto">

          <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown-toggle bg-skyblue2" id="dropdownBasic1" ngbDropdownToggle><img
                src="../../assets/images/dropdown-cross-btn.png" alt="" /></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <h5 class="pl-4 pt-3"><b>Create</b></h5>
              <hr>
              <button ngbDropdownItem class="py-0 my-0" (click)="open(createtopic)">
                <h5 data-toggle="modal" data-target="#createTopic">Topic</h5>
                <p>Create a topic of interest</p>
              </button>
              
              <hr>
              <button ngbDropdownItem class="py-0 mr-0">
                <h5 data-toggle="modal" data-target="#createPost">Post</h5>
                <p>Share a post on your OneMic feed</p>
              </button>
            </div>
          </div>
          <!-- <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle bg-skyblue2" href="#" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/images/dropdown-cross-btn.png" alt="" />
              </a>
              <!-- Create Dropdown -->
          <!-- <div class="dropdown-menu createdropdown" aria-labelledby="dropdownMenuLink">
                <ul class="list-unstyled create-list">
                  <li>
                    <h4><b>Create</b></h4>
                  </li>
                  <li class="pt-3">
                    <h5 data-toggle="modal" data-target="#createTopic">
                      Topic
                    </h5>
                    <p>Create a topic of interest</p>
                  </li>
                  <li>
                    <h5 data-toggle="modal" data-target="#createPost">
                      Post
                    </h5>
                    <p>Share a post on your OneMic feed</p>
                  </li>
                </ul>
              </div> -->
          <!--//-->
          <!-- </li>  -->
          <li class="nav-item active">
            <a class="nav-link" href="#"><img src="../../assets/images/alert-icon.png" alt="" /></a>
          </li>
          <!-- User -->
          <li class="nav-item border-none dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" href="#"><img src="../../assets/images/user-image.png"
                alt="" /></a>&nbsp;&nbsp;
            <!-- User Dropdown -->
            <div class="dropdown-menu userdropdown" aria-labelledby="dropdownMenuLink">
              <h5>
                <img src="../../assets/images/icon-user.png" /> &nbsp;&nbsp;My
                Station
              </h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#"><img src="../../assets/images/Untitled-1.png" alt="" />&nbsp;&nbsp;FAQ'S
                  </a>
                </li>
                <li>
                  <a href="#"><img src="../../assets/images/icon--help.png" alt="" />&nbsp;&nbsp;Help & Support
                  </a>
                </li>
                <li>
                  <a href="#"><img src="../../assets/images/icon-setting.png" alt="" />&nbsp;&nbsp;User Setting
                  </a>
                </li>
                <li>
                  <a href="#"><img src="../../assets/images/icon-logout.png" alt="" />&nbsp;&nbsp;Logout
                  </a>
                </li>
              </ul>
            </div>
            <!--//-->
          </li>
          <li class="nav-item">
            <a class="prm-btn btn nav-item mt-2 btn-round">UPGRADE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
  <ng-template #createtopic let-modal>
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
     <div class="modal fade" id="createTopic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable " role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div class="modal-body pt-0 p-5">
            <h5 class="text-center title">Create Topic</h5>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1"></label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                  placeholder="Topic (Max 50 Characters)" />
              </div>
              <label for="selectOption">Select Categories for the topic</label>
              <div class="pb-2 pt-2">
                <select name="states" id="example" class="form-control multiselect" multiple="multiple"
                  style="display: none">
                  <option selected value="Arts" class="pb-2">Arts</option>
                  <option value="AutomotiveVehicle" class="pb-2">
                    Automotive & Vehicle
                  </option>
                  <option value="BusinessIndustrial" class="pb-2">
                    Business & Industrial
                  </option>
                  <option value="Carrers">Career</option>
                  <option value="Comedy">Comedy</option>
                  <option selected value="Education">Education</option>
                  <option value="Entertainment">Entertainment</option>
                  <option value="Family & Parenting">Family & Parenting</option>
                  <option value="Fiction">Fiction</option>
                  <option value="Finance">Finance</option>
                  <option value="Goverment">Government</option>
                  <option value="Health">Health & Fitness</option>
                  <option value="History">History</option>
                  <option value="Hobbies">Hobbies & Interest</option>
                  <option value="HomeGarden">Home & Garden</option>
                  <option value="News">News</option>
                  <option value="Pets">Pets</option>
                  <option value="Pets">Politics</option>
                  <option selected value="Music">Music</option>
                  <option value="Religion">Religion & Spirituality</option>
                  <option value="Science">Science</option>
                  <option value="Society">Society & Culture</option>
                  <option value="Sports">Sports</option>
                  <option value="Style">Style & Fashion</option>
                  <option value="Technology">Technology</option>
                  <option value="Travel">Travel</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                  placeholder="Your text topic (Max 500 Characters)"></textarea>
              </div>
              
               <div class="form-group row">
                <div class="col-6">
                  <label for="exampleFormControlTextarea1">Add topic image</label>
                  <div class="card-box-dotted p-5 text-center">
                    <a href=""><img src="../../assets/images/choose.png" class="img-fluid mb-4" /></a>
                    <div>
                      <a class="btn btn-outline-primary btn-round font-12" href="javascript:;">
                        Choose File... 
                        <!-- <input type="file" style="
                          position: absolute;
                          z-index: 2;
                          top: 0;
                          left: 0;
                          filter: alpha(opacity=0);
                          -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
                          opacity: 0;
                          background-color: transparent;
                          color: transparent;
                        " name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());' /> -->
                      </a>
                      &nbsp;
                      <span class="label label-info" id="upload-file-info"></span>
                    </div>
                  </div>
                  <div class="form-check-inline mt-3">
                    <div class="custom-control custom-checkbox pmd-checkbox">
                      <input class="custom-control-input" type="checkbox" value="" id="customCheckbox1" checked />
                      <label class="custom-control-label pmd-checkbox-ripple-effect" for="customCheckbox1">
                        Lock Topic <br />
                        <small class="font-blue">
                          Other users cannot post on your topic.</small>
                      </label>
                    </div>
  
                    <label class="form-check-label">
                      <input selected type="checkbox" class="form-check-input" value="">
                      Lock Topic <br>
                      <small class="font-blue"> Other users can not post on your topic.</small> </label>
                  </div>
                </div>
                <div class="col-6">
                  <label for="exampleFormControlTextarea1">Labels
                    <span class="font-blue">(Ex: #kochimetro #kochi)</span>
                  </label>
                  <div class="card-box p-5 text-center bg-skyblue" style="min-height: 212px"></div>
                  <div class="mt-4 float-right">
                    <a href=""><button type="button" class="btn prm-btn btn-round font-12 mr-1"
                        (click)="modal.close('Save click')">
                        CREATE
                      </button></a>
                    <!-- <a href=""><button type="button" class="btn btn-outline-primary btn-round font-12">
                        <b>SAVE DRAFT</b>
                      </button></a>-->
                  </div> 
                </div>
              </div> 
            </form>
              <!--//-->
            
          </div>
        </div>
      </div>
    </div> 
  </ng-template>

