<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background: #ffffff">
    <div class="container-fluid">
      <a id="sidebarCollapse">
        <img src="../../assets/images/collapse-btn.png" alt="" class="mr-4" />
      </a>
      <a href="/"> <img src="../../assets/images/logo.png" alt="" /> </a>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto search-form">
          <input class="form-control mr-sm-2 ml-auto" type="search" placeholder="Search" aria-label="Search..." />
          <button class="search-btn my-2 my-sm-0" type="submit">
            <img src="../../assets/images/search-btn.png" alt="" />
          </button>
        </form>
        <ul class="nav navbar-nav ml-auto">

          <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown-toggle bg-skyblue2" id="dropdownBasic1" ngbDropdownToggle><img
                src="../../assets/images/dropdown-cross-btn.png" alt="" /></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <h5 class="pl-4 pt-3"><b>Create</b></h5>
              <hr>
              <button ngbDropdownItem class="py-0 my-0" (click)="open(createtopic)">
                <h5 data-toggle="modal" data-target="#createTopic">Topic</h5>
                <p>Create a topic of interest</p>
              </button>

              <hr>
              <button ngbDropdownItem class="py-0 mr-0">
                <h5 data-toggle="modal" data-target="#createPost">Post</h5>
                <p>Share a post on your OneMic feed</p>
              </button>
            </div>
          </div>
          <!-- <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle bg-skyblue2" href="#" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/images/dropdown-cross-btn.png" alt="" />
              </a>
              <!-- Create Dropdown -->
          <!-- <div class="dropdown-menu createdropdown" aria-labelledby="dropdownMenuLink">
                <ul class="list-unstyled create-list">
                  <li>
                    <h4><b>Create</b></h4>
                  </li>
                  <li class="pt-3">
                    <h5 data-toggle="modal" data-target="#createTopic">
                      Topic
                    </h5>
                    <p>Create a topic of interest</p>
                  </li>
                  <li>
                    <h5 data-toggle="modal" data-target="#createPost">
                      Post
                    </h5>
                    <p>Share a post on your OneMic feed</p>
                  </li>
                </ul>
              </div> -->
          <!--//-->
          <!-- </li>  -->
          <li class="nav-item active">
            <a class="nav-link" href="#"><img src="../../assets/images/alert-icon.png" alt="" /></a>
          </li>
          <!-- User -->
          <li class="nav-item border-none dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" href="#"><img src="../../assets/images/user-image.png"
                alt="" /></a>&nbsp;&nbsp;
            <!-- User Dropdown -->
            <div class="dropdown-menu userdropdown" aria-labelledby="dropdownMenuLink">
              <h5>
                <img src="../../assets/images/icon-user.png" /> &nbsp;&nbsp;My
                Station
              </h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#"><img src="../../assets/images/Untitled-1.png" alt="" />&nbsp;&nbsp;FAQ'S
                  </a>
                </li>
                <li>
                  <a href="#"><img src="../../assets/images/icon--help.png" alt="" />&nbsp;&nbsp;Help & Support
                  </a>
                </li>
                <li>
                  <a href="#"><img src="../../assets/images/icon-setting.png" alt="" />&nbsp;&nbsp;User Setting
                  </a>
                </li>
                <li>
                  <a href="#"><img src="../../assets/images/icon-logout.png" alt="" />&nbsp;&nbsp;Logout
                  </a>
                </li>
              </ul>
            </div>
            <!--//-->
          </li>
          <li class="nav-item">
            <a class="prm-btn btn nav-item mt-2 btn-round">UPGRADE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<ng-template #createtopic let-modal>
  <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
  <div class="modal fade" id="createTopic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body pt-0 p-5">
          <h5 class="text-center title">Create Topic</h5>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1"></label>
              <input type="text" [(ngModel)]="topicName" name="topicName" class="form-control" id="exampleFormControlInput1"
                placeholder="Topic (Max 50 Characters)" />
            </div>
            <label for="selectOption">Select Categories for the topic</label>
            <div class="pb-2 pt-2">
              <select [(ngModel)]="topiccategoryId" name="topiccategoryId" class="selectpicker form-control ">
                <!-- <option selected value="Arts" class="pb-2">Arts</option> -->
                <option *ngFor="let t of topiccategory" [value]="t.id" class="pb-2">
                  {{t.categoryName}}
                </option>

              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea [(ngModel)]="description" name="description" class="form-control" id="exampleFormControlTextarea1" rows="5"
                placeholder="Your text topic (Max 500 Characters)"></textarea>
            </div>

            <div class="form-group row">
              <div class="col-12">
                <label for="exampleFormControlTextarea1">Add topic image</label>
                <div class="card-box-dotted p-5 text-center">
                  <img src="../../assets/images/choose.png" class="img-fluid mb-4" />
                  <div>
                    <div class="btn btn-outline-primary btn-round font-12" style="position:relative;">
                      Choose File
                      <input #file type="file" accept='image/*' size="10" (change)="topicImg($event)" />
                      <!-- onchange='$("#upload-file-info").html($(this).val());' -->


                    </div>
                    &nbsp;
                    <span class="label label-info" id="upload-file-info"></span>
                  </div>
                </div>
                <div class="mt-4 float-right">
                  <a href=""><button type="button"  (click)="createTopic()" class="btn prm-btn btn-round font-12 mr-1"
                    
                     >
                      <!--  (click)="modal.close('Save click')" -->
                      CREATE
                    </button></a>
                </div>
              </div>
            </div>
          </form>
          <!--//-->

        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Create Post --Dawtie -->
<!-- Modal createPost -->
<div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content p-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class=" btn close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center title mb-2">Create Post</h5>
        <!-- form -->
        <form>
          <div class="form-group mt-5">

            <!-- <select title="Choose a topic" class="selectpicker form-control">
              <option data-thumbnail="../../assets/images/topic-icon2.png" disabled selected>Choose a topic</option>
              <option *ngFor="let d of topics">{{d.topicName}}</option> -->
             <label for="choosetopic"> <small>Choose a topic</small></label>
            <select id="choosetopic" [(ngModel)]="topic" name="topic" title="Choose a topic" class="selectpicker form-control">
              <!-- <option data-thumbnail="../../assets/images/topic-icon2.png" [value]="topic" disabled selected>Choose a
                topic</option> -->
              <option *ngFor="let d of topics" [value]="d.id">{{d.topicName}}</option>
            </select>
            <!-- <select id="id_select2_example" class="form-control">
              <option data-img_src="../../assets/images/topic-icon2.png"> Choose a topic</option>
              <option data-img_src="../../assets/images/topic-icon2.png"> Choose a topic</option>
              <option data-img_src="../../assets/images/topic-icon2.png"> Choose a topic</option>
            </select> -->
          </div>

          <div class="form-group">
            <input type="text" [(ngModel)]="postName" name="postName" class="form-control"
              placeholder="Title (Max 60 Characters)">
          </div>
          <!-- <div class="form-group">
            <textarea class="form-control" placeholder="Labels (Ex: #kerala)"></textarea>
          </div> -->
          <div class="form-group">
            <h5 class="form-heading-post pt-2 pb-2">Audio</h5>
            <a href="#"><img *ngIf="!audioUrl" src="../../assets/images/voice-image.jpg" class="img-fluid mb-2"></a>
          </div>
          <audio *ngIf="audioUrl" autoplay controls>
            <source [src]="audioUrl" type="audio/ogg">
          </audio>
          <div class="form-group mb-4">
            <div *ngIf="audioUrl" class="row float-right pr-3 pt-1">
              <a>
                <div (click)="removeAudio()" class="btn btn-round btn-outline-primary font-12  pl-4 pr-4 ">REMOVE</div>
              </a>
            </div>
          </div>
          <div class="form-group">
            <div class="row mt-5 mb-5 pt-2">
              <div *ngIf="!audioUrl" class="col-4 box-positionnn">
                <div class="card-box-dotted p-4 text-center">
                  <a href=""><img src="../../assets/images/musicgray-icon.png" class="img-fluid"></a>
                  <div>
                    <small><span class="text-primary"><label class="upload-post"
                          for="file_input_id">Upload</label></span> your audio here</small>
                    <input type="file" (change)="audioFile($event)" id="file_input_id">
                  </div>
                </div>

              </div>
              <div class="col-4 box-positionnn">
                <div class="card-box-dotted p-4 text-center">
                  <a href=""><img src="../../assets/images/icon-post.png" class="img-fluid"></a>
                  <div *ngIf="!pdfUrl">
                    <small><span class="text-primary"><label class="upload-post"
                          for="file_input_id2">Upload</label></span> your pdf here</small>
                    <input type="file" accept="application/pdf" id="file_input_id2" (change)="pdfFile($event)">
                  </div>
                  <div *ngIf="pdfUrl">
                    <small>{{pdf.name}}</small>
                  </div>
                </div>

              </div>
            </div>
            <hr>
            <div class="form-group">
              <h5 class="form-heading-post pt-2">Images</h5>
              <div class="col-12 mt-0 pt-0">
                <label for="exampleFormControlTextarea1"></label>
                <div class="card-box-dotted p-5 text-center"> <a *ngIf="!imgURL" href=""><img
                      src="../../assets/images/choose.png" class="img-fluid mb-4"></a>
                  <div (change)="onFileChanged($event)" class="max-fourimg"><label for="file-img-id" *ngIf="!imgURL">
                      <!-- Drag & Drop Images OR --> Upload an Image for the given Post<br><span class="fourimgMax">( 1
                        Image Only )</span>
                    </label>
                    <!-- <a class='btn btn-outline-primary btn-round font-12' href='javascript:;'> Choose File...
                  <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                  </a> &nbsp; <span class='label label-info' id="upload-file-info"></span> -->
                    <img [src]="imgURL" height="200" *ngIf="imgURL">
                    <!-- <div class='btn btn-outline-primary btn-round font-12' (change)="onFileChanged($event)">
                    <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                  </div> -->
                    <input #file type="file" accept='image/*' id="file-img-id" (change)="preview(file.files)" />

                    <!-- <div class='btn btn-outline-primary btn-round font-12' >
                    <label class="imga" >Choose image to upload</label>
                  </div> -->

                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h5 class="form-heading-post pt-2">Text</h5>
              <label for="comment" class="pt-2 pb-1">What's on Your mind?</label><br>

              <textarea [(ngModel)]="postdesc" name="postdesc" class="form-control" rows="5"
                placeholder="Your text post (Max 500 Characters)" id="comment"></textarea>
            </div>
            <div class="form-group row">
              <div class="col-6">

              </div>
              <div class="col-6">
                <div class="mt-4 float-right">
                  <button (click)="createPost()" type="button" class="btn prm-btn btn-round font-12 mr-1">POST</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--//-->

      </div>
    </div>
  </div>
</div>




<!-- 
style="
                     
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    filter: alpha(opacity=0);
                    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
                    opacity: 0;
                    background-color: transparent;
                    color: transparent;
                  " -->