<div class="section-body mb-3" *ngFor="let post of posts">
    <div class="article">
        <!-- Media -->
        <div class="media p-3"> <img src="../../assets/images/author1.jpg" alt="" class="mr-3 rounded-circle"
                style="width:86px;">
            <div class="media-body">
                <div class="article-title">
                    <h5>{{post.postName}}</h5>
                </div>
                <div class="article-body">
                    <p>{{post.desc}} <a
                            class="font-pink" href="#"><small><u>more...</u></small></a></p>
                    <p class="author">Posted by <a href="#">{{post.user.userName}} </a>2 hours ago</p>
                    <!---->
                    <!-- <div class="tags mb-4"> <a href="#" class="btn btn-tags selected mr-1"> #COLLEGE </a> <a href="#"
                            class="btn btn-tags mr-1"> #EDUCATION </a> <a href="#" class="btn btn-tags mr-1"> #SCHOOL
                        </a> </div> -->
                    <!--//-->
                    <div *ngIf="post.imageUrl" class="popup-images d-flex">
                        <a href="#" class="m-1"> <img src={{post.imageUrl}} class="brd-rounded5"> </a>
                        <!-- <a href="#" class="m-1"> <img src="../../assets/images/widget-2.jpg" class="brd-rounded5"> </a>
                        <a href="#" class="m-1"> <img src="../../assets/images/widget-3.jpg" class="brd-rounded5"> </a>
                        <a href="#" class="m-1"> <img src="../../assets/images/widget-4.jpg" class="brd-rounded5"> </a> -->
                    </div>
                    <audio *ngIf="post.audioUrl"  controls>
                        <source src={{post.audioUrl}} type="audio/ogg">  
                     </audio>
                     <div *ngIf="post.pdfUrl" class="pdf">
                        <ngx-extended-pdf-viewer  src={{post.pdfUrl}} [textLayer]="true" height="100vh"></ngx-extended-pdf-viewer>
                     </div>
                </div>
            </div>
        </div>
        <!--//-->
        <!-- Comments -->
        <div class="comment p-3 mt-2 mb-3">
            <ul class="list-unstyled coments-use">
                <li> <a href="#" class="comment"><img src="../../assets/images/icon-like.png"></a> <span class="total">
                        1K</span> </li>
                <li> <a href="#" class="comment"><img src="../../assets/images/icon-dislike.png"></a> <span
                        class="total">15</span> </li>
                <li> <a href="#"> <img src="../../assets/images/icon-comment.png"> </a> <span class="total">32</span>
                </li>
                <!-- <li> <a href="#" class="comment"><img src="images/icon-forward.png"></a> <span class="total">20</span> </li>
          <li> <a href="#" class="comment"><img src="images/icon-pin.png"></a> <span class="total">08</span> </li>
          <li class="border-none"  data-toggle="modal" data-target="#myflag1"> <a href="#" class="comment"><img src="images/icon-flag.png"></a> <span class="total">01</span> </li> -->
            </ul>
        </div>
        <!--//-->
    </div>
</div>